body{
    width: max-content;
    height: 100%;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 1440px;
    height: 80px;
    justify-items: center;
}
.header-inner{
    width: 1106px;
    height: 72px;
    padding: 0px 32px;
    align-items: center;
    display: flex;
}
.header .header-inner .logo img{
    width: 118px;
}
.right{
    margin-left: auto;
}
.right ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}
.right ul li a{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    padding: 20px;
    text-decoration: none;
}
.right ul li button img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px 10px;
}
.profile button{
    display: flex;
    background: none;
    border: none;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    width: 140px;
    height: 120px;
    padding: 20px 0px;
    margin: 0px 0px 0px 10px;
}
.profile button p{
    margin-left: 10px;
    display: flex;
}
.profile button i{
    margin-left: 5px;
    font-size: 12px;
    margin-top: 3px;
}
.right li .line{
    font-size: 16px;
    color: #fff;
    font-weight: 400;
    margin: 28px 20px;
}
.body{
    width: 800px;
    margin: 0px 320px;
    padding: 32px 8px;
    justify-items: center;
    display: flex;
}
.inner-body{
    width: 784px;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    row-gap: 30px;
}
.inner-body .search{
    width: 784px;
    height: 48px;
    display: flex;
    color: #b3b3b3;
    position: relative;
}
.inner-body .search i{
    color: white;
    position: absolute;
    font-size: 22px;
    color: #b3b3b3;
    top: 8px;
    left: 15px;
}
.inner-body .search input{
    width: 784px;
    height: 48px;
    background-color: #292929;
    border: #b3b3b3d0 solid 1px;
    padding: 12px 12px 12px 48px;
    outline: none;
    border-radius: 5px;
    color: #b3b3b3;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.inner-body .search input::placeholder{
    font-size: 16px;
    color: #b3b3b3;
    font-family: 'Poppins', sans-serif;
}
.plan{
    display: flex;
    column-gap: 15px;
}
.plan .left-side{
    width: 551px;
    height: 210px;
    padding: 8px 0px;
    display: flex;
    color: #b3b3b3;
    background-color: #292929;
    border-radius: 8px;
    justify-content: center;
}
.left-side .texts{
    width: 495px;
}
.texts .your-plan{
    font-size: 12px;
    color: #fff;
    font-weight: 400;
}
.texts .plan-name{
    font-size: 32px;
    color: rgb(255, 210, 215);
    font-weight: 700;
    margin-top: -30px;
}
.texts .billing{
    font-size: 16px;
    font-weight: 400;
    margin-top: -35px;
}
.texts .visa{
    font-size: 16px;
    font-weight: 400;
    margin-top: -5px;
}
.left-side .logo-small{
    font-size: 22px;
    color: rgb(255, 210, 215);
}
.right-side{
    width: 220px;
    height: 226px;
    color: #b3b3b3;
}
.right-side .right-top{
    width: 220px;
    height: 107px;
    background-color: #292929;
    border-radius: 8px;
    margin-bottom: 12px;
    text-align: center;
    align-content: center;
}
.right-side .right-bottom{
    width: 220px;
    height: 107px;
    background-color: #292929;
    border-radius: 8px;
    text-align: center;
    align-content: center;
}
.right-side .icon{
    font-size: 24px;
    color: #b3b3b3;
}
.right-side .edit{
    font-size: 14px;
    font-weight: 600;
    margin-top: -10px;
}
.inner-body .account, .subscription, .payment, .security, .help{
    background-color: #292929;
    width: 784px;
    height: fit-content;
    border-radius: 8px;
    color: #fff;
    padding: 0px 0px 12px;
}
.inner-body .title h2{
    font-size: 24px;
    font-weight: 700;
    width: 760px;
    height: 29px;
    padding: 12px 12px 16px;
    margin: 0px;
}
.inner-body .option{
    width: 760px;
    height: 56px;
    padding: 0px 12px;
    display: flex;
    align-items: center;
}
.inner-body .option .text{
    display: flex;
    align-items: center;
}
.inner-body .option .text .icon{
    width: 32px;
    height: 27px;
    background-color: #ffffff1a;
    text-align: center;
    padding-top: 5px;
    font-size: 16px;
    border-radius: 5px;
}
.inner-body .option .text .text-icon{
    font-size: 16px;
    margin-left: 10px;
}
.inner-body .option .chevron{
    margin-left: auto;
}
.body{
    color: #fff;
}
.footer{
    width: 100%;
    background-color: #000;
    padding: 80px 0px 50px;
    justify-items: center;
    margin-left: -10px;
}
.footer-top{
    height: 346px;
    display: flex;
    align-content: center;
}
.footer-top .logo-footer{
    width: 143px;
    height: 346px;
}
.footer-top .logo-footer img{
    width: 118px;
    height: 32px;
}
.footer-top .middle{
    display: flex;
    margin-top: -20px;
}
.footer-top .middle .company, .communities, .useful-links, .spotify-plans{
    width: 165.45px;
}
.footer-top .middle ul{
    list-style-type: none;
}
.footer-top .middle  li a{
    text-decoration: none;
    color: #fff;
}
.footer-top .middle .bold a{
    font-size: 14px;
    color: #919496;
    font-weight: 700;
}
.footer-top .middle ul li{
    font-size: 15px;
    padding: 0px 0px 16px;
}
.footer-top .socials{
    width: 257px;
    height: 346px;
    display: flex;
    column-gap: 15px;
    margin-left: 50px;
}
.footer-top .socials button{
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background: none;
    border: none;
    background-color: #222326;
    color: #fff;
    font-size: 20px;
}
.footer-bottom{
    display: flex;
    align-items: center;
    width: 1146px;
    justify-content: center;
}
.footer-bottom .left-bottom{
    width: 900px;
}
.footer-bottom .left-bottom ul{
    list-style-type: none;
    display: flex;
    column-gap: 20px;
}
.footer-bottom .left-bottom ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-size: 12px;
}
.footer-bottom .right-bottom{
    color: #b3b3b3;
    font-size: 12px;
    display: flex;
    justify-content: center;
}